<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567673960575-6tb2dhdkkggjo1n2e5fcocjiifhr2gs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567673960575-6tb2dhdkkggjo1n2e5fcocjiifhr2gs5</string>
	<key>API_KEY</key>
	<string>AIzaSyDPI--nnQq5cid4BPdcjWQ2P2aXVX5nDtg</string>
	<key>GCM_SENDER_ID</key>
	<string>567673960575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mohammed.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-d9caf</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-d9caf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567673960575:ios:63fb793c51c3547c43274a</string>
</dict>
</plist>